extends layout

block content
    for key in keys
        h1= key
        for pathInfo in mp3Paths[key]
            a(href=pathInfo.href)= pathInfo.text
            br
        br
        br
        br
